{
	email {$ACME_EMAIL}
}

{$WEB_DOMAIN} {
	encode zstd gzip
	reverse_proxy web:3000
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:3333
}

www.{$WEB_DOMAIN} {
	redir https://{$WEB_DOMAIN}{uri} permanent
}
